# Common
.git
.gitignore
README.md
.env.local
.env.*.local
*.log

# Frontend specific
frontend/node_modules
frontend/dist
frontend/.vite
frontend/*.log

# Backend specific
backend/.julia
backend/Manifest.toml
backend/*.log

# Docker
docker-compose*.yml
Dockerfile*